target
.antlr-eclipse
.checkstyle
.classpath
.project
.settings
.wtpmodules
.DS_Store
testng.xml
testng-errors.xml
testng-failures.xml
test-output
.fbprefs
temp-testng-customsuite.xml
*.iml
bin
git-daemon-export-ok
.tmp_*
.faces-config.xml.jsfdia
